<h1>Доступные размерности: 2, 4 и 6</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="number" formControlName="dimension">  
    <button type="submit" [disabled]="!form.valid">Generate</button>
</form>
  <app-chessboard 
    [dimension]="dimension" 
    [deck]="deck" 
    (onCardClicked)="onCardClicked($event)">
  </app-chessboard>
<div *ngIf="deck?.length">
  <div>
    Current Player: {{currentPlayer?.name}}
  </div>
  <div>Score: {{currentPlayer?.state?.score}}</div>
  <div>Turn: {{gameService?.turn}}</div>
</div>